@charset "UTF-8";

#logo{
	font-family: 'Jua', sans-serif;
	color: #f94e3f;
}

#intro{
	width: 80px;
	height: 25px;
	color: #f94e3f;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 12pt;
	font-weight: bolder;
	border-bottom: 1px solid #f94e3f;
	text-align: center;
	float: left;
}

#writebtn{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	color: #fff;
	/* background: #404146; */
	background: #f94e3f;
	border-radius: 10px;
	border: none;
	float: right;
}
#cancelbtn{
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80px;
	height: 35px;
	color: #fff;
	background: #404146;
	border-radius: 10px;
	border: none;
	float: right;
}
#pagingbtn{
	width: 360px;
	margin: 0 auto;
}

#boardPic{
	width: 18px;
	height: 18px;
}
#annotation{
	font-size: 9pt;
	color: #404146;
}

#titleInput{
	width: 100%;
	margin: 0;
	height: 40px;
}
#commentsWritebtn{
	width: 10%; 
	height: 100px; 
	margin-left:0; 
	float: left; 
	background: #f94e3f; 
	color: white; 
	border: none;
	font-weight: bold;
}
#commentsTextarea{
	width:90%; 
	height:100px; 
	margin-right:0;
	float:left; 
	border:1px solid #f94e3f;
	resize: none;
}
