<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="board">
	
	<select id="boardList" parameterType="Map" resultType="Map">
		SELECT *
		FROM board_view WHERE board_type=#{key} 
		LIMIT #{startPage }, #{lastPage }
	</select>
	
	<select id="boardListCount" parameterType="Map" resultType="Integer">
		SELECT count(*) as count from board_view where board_type=#{key} 
	</select>
	
	<select id="boardDetail" parameterType="Map" resultType="Map">
		SELECT * from board_view Where board_no = #{board_no}
	</select>
	
	<select id="comments" parameterType="Map" resultType="Map">
		SELECT *
		FROM comments_view WHERE board_no=#{board_no}
	</select>
	
	<update id="delboard" parameterType="Map">
		UPDATE board SET board_del_state='Y' WHERE board_no = #{board_no}
	</update>
	
	<update id="viewCountUp" parameterType="Map">
		UPDATE board SET board_views=board_views +1 WHERE board_no = #{board_no}
	</update>
	
	<insert id="insertComments" parameterType="Map">
		insert into comments (comments_content, member_no, board_no
		<if test="comments_no != null">, comments_comments_no</if>)
		values (#{comments_content}, #{member_no}, #{board_no}
		<if test="comments_no != null">, #{comments_no}</if>)
	</insert>
	
	<update id="editComments" parameterType="Map">
		update comments set comments_content = #{comments_content}
		where comments_no = #{comments_no}
	</update>
	
	<update id="delComments" parameterType="Map">
		UPDATE comments SET comments_del_state='Y' WHERE comments_no = #{comments_no}
	</update>
	
	<update id="editBoard" parameterType="Map">
		UPDATE board SET board_title=#{board_title}, board_content=#{board_content}
		, secret = #{secret}
		<if test="board_file != null">, board_file= #{board_file}, 
		board_file_origin = #{board_file_origin}</if>
		WHERE board_no = ${board_no}
	</update>
	<insert id="writeBoard" parameterType="Map">
		insert into board (board_type_no, board_title, board_content, member_no
		, secret
		<if test="board_file != null">, board_file, board_file_origin</if>)
		values(#{board_type_no}, #{board_title}, #{board_content}, #{member_no}
		, #{secret}
		<if test="board_file != null">, #{board_file}, #{board_file_origin}</if>)
	</insert>
	
	<insert id="blame" parameterType="Map">
		insert board_blame (board_no, member_no) values(#{board_no}, #{member_no}) 
	</insert>
	
	<select id="goodcheck" parameterType="Map" resultType="Integer">
		select count(*) as count from board_like where board_no=#{board_no} AND member_no=#{member_no}
	</select>
	<insert id="goodinsert" parameterType="Map">
		insert into board_like (board_no, member_no) values(#{board_no}, #{member_no}) 
	</insert>
	<delete id="gooddelete" parameterType="Map">
		delete from board_like where board_no=#{board_no} AND member_no=#{member_no}
	</delete>
</mapper>